body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 150px;
  height: 150px;
  background-color: gold;
  font-size: 1.3rem;
  transition: transform 4.3s cubic-bezier(.17,.67,.83,.67), background-color 2s;
}

.box:hover {
  /* transform: rotate(45deg); */
  /* transform: scale(1.5);
  transform: skew(10deg); */
  /* transform: translate(20px, 30px); */
  /* transform: perspective(200px) translateZ(150px); */
  transform: perspective(200px) rotateX(30deg);
  background-color: aquamarine;
}
