@keyframes pop {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  50% {
    transform: translate(100px);
    background-color: tomato;
  }
  100% {
    transform: translate(0);
    background-color: gold;
  }
}

body {
}

.box {
  width: 150px;
  height: 150px;
  font-size: 1.3rem;
  background-color: gold;
}

.animation-pop {
  animation: fadeRight 2s linear infinite;
}

.box-button {
  cursor: pointer;
}
